@tailwind base;
@tailwind components;
@tailwind utilities;

.altoProyecto {
  height: calc(100vh - 510px);
}
.leftSocial {
  left: 90px;
}
.probando {
  min-width: 320px;
}
.active {
  color: #1d96ff;
}
.grid-mod {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 1279px) {
  .altoProyecto {
    height: calc(100vh - 450px);
  }
}
@media screen and (max-width: 540px) {
  .grid-mod {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    overflow: scroll;
  }
}
